* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    gap: 0; 
}

header {
    grid-area: header;
    display: grid;
    place-items: center; 
    background: rgb(75, 170, 75);
    color: white;
    padding: 30px 10px;
}

nav {
    grid-area: nav;
    display: grid;
    place-items: center;
    background: rgb(91, 192, 91);
}

nav ul {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 30px;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 280px 1fr; 
    gap: 20px;
    padding: 0 20px;
}

aside {
    display: grid;
    grid-template-rows: auto auto 1fr; 
    gap: 15px;
    background: rgb(220, 250, 214);
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #123;
    margin-top: 20px;
}

aside h3,
aside h4,
aside p,
aside ul,
aside li,
aside strong {
    font-family: Arial, sans-serif;
    color: #123;
    margin-bottom: 8px;
}

aside ul {
    padding-left: 18px;
}

.why-list {
    font-size: 13px;
    padding-left: 18px;
}

.why-list ul {
    margin: 6px 0 0 16px;
    padding-left: 14px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.card {
    background: white;
    border-radius: 6px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    min-height: 500px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card h4 {
    margin-top: 10px;
}

footer {
    grid-area: footer;
    background:rgb(75, 170, 75);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
